target/
api/src/main/java/
api/src/main/resources/
impl/yuicompressor.jar
changebundle.txt
dependencies
build.properties
**/*.iml
*.class
*.jar
*.jsfdia
target/
/bin/
/dist/
/dependencies/
/jsf-demo/dist/
/build.properties
.settings/
.classpath
.project
test/**/.classpath
test/**/.project
spi/**/.classpath
spi/**/.project
impl/**/.classpath
impl/**/.project
impl/bnd.bnd
api/**/.classpath
api/**/.project
/nbproject/private/
/dependencies
glassfish-8.0/
nbactions.xml
nb-configuration.xml
*.DS_Store
.idea/
Mojarra.iml
*~
