# Maven
bin/
target/
.flattened-pom.xml

# Node.js
node_modules/
dist/
npm-debug.log

# Eclipse
.classpath
.project
.metadata/
.settings/
*.jsfdia
*.pageflow

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nbactions.xml
nb-configuration.xml

# emacs
*~

# OSX
.DS_Store

# Local
/tmp/
