.classpath
.project
.settings
nbactions.xml
nb-configuration.xml
nbproject
target

api/src/main/java/
api/src/main/resources/
impl/yuicompressor.jar
changebundle.txt
dependencies
build.properties
**/*.iml
*.class
*.jar
*.jsfdia
target/
/bin/
/dist/
/dependencies/
/jsf-demo/dist/
/build.properties
impl/bnd.bnd
/dependencies
glassfish-8.0/
*.DS_Store
.idea/
Mojarra.iml
*~
