<?xml version="1.0" encoding="ISO-8859-1"?>
<!--

    Copyright (c) 1997, 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <description>
       JSF Systests
    </description>
    <display-name>JSF Systests</display-name>

    <!-- Validate the Application Configuration Resources -->
    <context-param>
      <param-name>com.sun.faces.validateXml</param-name>
      <param-value>true</param-value>
    </context-param>

    <context-param>
      <param-name>com.sun.faces.autoCompleteOffOnViewState</param-name>
      <param-value>false</param-value>
    </context-param>

    <context-param>
      <param-name>com.sun.faces.allowedHttpMethods</param-name>
      <param-value>OPTIONS GET HEAD POST PUT DELETE TRACE CONNECT GETBOGUSALLOWED</param-value>
    </context-param>

    <context-param>
        <param-name>com.sun.faces.enableThreading</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.generateUniqueServerStateIds</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.enableHtmlTagLibValidator</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.ENABLE_HTTP_METHOD_RESTRICTION_PHASE_LISTENER</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>server</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.CSRF_ALGORITHM</param-name>
        <param-value>all</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.PARTIAL_STATE_SAVING</param-name>
        <param-value>{partial-state-saving}</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.enableJSStyleHiding</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.writeStateAtFormEnd</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.CONFIG_FILES</param-name>
        <param-value>/WEB-INF/init-faces-config.xml</param-value>
    </context-param>

    <context-param>
        <param-name>com.sun.faces.externalizeJavaScript</param-name>
        <param-value>false</param-value>
    </context-param>

    <context-param>
        <param-name>facelets.VIEW_MAPPINGS</param-name>
        <param-value>/resources/composite/*;*.xhtml;*.view.xml</param-value>
    </context-param>

    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>

    <context-param>
        <param-name>javax.faces.FACELETS_LIBRARIES</param-name>
        <param-value>/WEB-INF/testcomponent.taglib.xml;/WEB-INF/source1.taglib.xml;/WEB-INF/composite-behavior.taglib.xml;/WEB-INF/formlayout.taglib.xml;/WEB-INF/i_spec_599_composite_taglib.taglib.xml</param-value>
    </context-param>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jspx</url-pattern>
            <is-xml>true</is-xml>
        </jsp-property-group>
    </jsp-config>

    <!-- Faces Servlet -->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup> 1 </load-on-startup>
    </servlet>

    <!-- Faces Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.faces</url-pattern>
    </servlet-mapping>


    <env-entry>
        <env-entry-name>welcomeMessage</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>Hello World from env-entry!</env-entry-value>
    </env-entry>


</web-app>
